html,
body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.bg-img {
  width: 100%;
  height: 100vh;
  background: url("/assets/1U6A8892.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.hero-logo {
  padding: 10px;
}

.wrapper {
  background-color: white;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin: auto;
  overflow: hidden;
  border-radius: 200px;
}

.frame {
  -webkit-animation: zoomeffect 10s infinite;
  -moz-animation: zoomeffect 10s infinite;
  animation: zoomeffect 10s infinite;
}
@-webkit-keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(1.5, 1.5);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}
@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(1.5, 1.5);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}

/* .hero-text1 {
  margin-top: 5vh;
} */

.hero-text1 h1 {
  font-family: "Carattere", cursive;
  font-size: 50px;
  color: #cda423;
  font-weight: 500;
}

.hero-text2 {
  font-weight: 300;
  height: 33%;
  /* margin: auto; */
  font-size: 20px;
  color: #ddc576;
}

/* Countdown */
.countdown {
  position: relative;
  padding: 10px 0;
  display: flex;
  height: 15vh;
  width: 100vw;
  margin: 20px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.countdown-position {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10px;
  margin: auto;
}

.container {
  font-size: 30px;
}

/* Events */
.events-bg {
  padding: 10px 10px;
  background-image: linear-gradient(to bottom right, #7d1212, #2a0853);
  height: 100%;
  opacity: 0.8;
  text-align: center;
}

.events-card {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  height: 50vh;
}

a {
  color: #1a1a1a;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
